Repository Sekte-King-Jawir/King-Jawir: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

pre-commit:
  parallel: false
  commands:
    format:
      glob: '*.{ts,tsx,js,jsx,json,md,yml,yaml}'
      run: bun run format {staged_files} && git add {staged_files}
      stage_fixed: true

    lint:
      glob: '*.{ts,tsx,js,jsx}'
      run: bun run lint

    type-check:
      run: bun run check-types

    build:
      run: bun run build
      fail_text: '❌ Build failed! Please fix the errors before committing.'

pre-push:
  parallel: false
  commands:
    lint:
      run: bun run lint
      fail_text: '❌ Lint failed! Please fix the errors before pushing.'

    type-check:
      run: bun run check-types
      fail_text: '❌ Type check failed! Please fix the errors before pushing.'

    build:
      run: bun run build
      fail_text: '❌ Build failed! Please fix the errors before pushing.'

fix: update Docker image tags to use explicit repository owner and name
  .github/workflows/docker-build.yml
Due: format

refactor: switch from Node.js to Bun base image in Dockerfiles and update dependency installation commands
  README.md
  apps/api/Dockerfile
  apps/web/Dockerfile
Due: format

fix: update Docker build context for API and Web images to root directory
  .github/workflows/docker-build.yml
Due: format

fix: update Bun base image version to 1.3.3-alpine in Dockerfiles
  apps/api/Dockerfile
  apps/web/Dockerfile
Due: none

Fix Docker build: sync Bun version and regenerate lockfile
  apps/api/Dockerfile
  apps/web/Dockerfile
  bun.lock
  package.json
Due: format

Remove --frozen-lockfile flag to allow Docker builds to generate lockfile
  apps/api/Dockerfile
  apps/web/Dockerfile
Due: none

Fix Dockerfile: remove invalid node_modules copy for monorepo workspaces
  apps/api/Dockerfile
  apps/web/Dockerfile
Due: none

Add GitHub Container Registry permissions to workflow
  .github/workflows/docker-build.yml
Due: format

Fix scraper Dockerfile: add curl for utoipa-swagger-ui build dependency
  apps/scraper/Dockerfile
Due: none

fix: correct manual trigger comments in workflow files
  .github/workflows/deploy-api.yml
  .github/workflows/deploy-rust.yml
  .github/workflows/deploy-web.yml
Due: format

feat: add production Docker Compose configuration for services
  .github/workflows/deploy-api.yml
  .github/workflows/deploy-rust.yml
  .github/workflows/deploy-web.yml
  docker-compose.prod.yml
Due: format

fix: correct typo in manual trigger comment in deploy workflow
  .github/workflows/deploy-api.yml
  .github/workflows/deploy-web.yml
Due: format

fix: update paths in deployment workflows and ecosystem configurations
  .github/workflows/deploy-api.yml
  .github/workflows/deploy-rust.yml
  .github/workflows/deploy-web.yml
  apps/api/ecosystem.config.cjs
  apps/web/ecosystem.config.cjs
Due: format

refactor: remove User model and related files, including database connection and seeding logic
  apps/api/Dockerfile
  apps/api/generated/prisma/browser.ts
  apps/api/generated/prisma/client.ts
  apps/api/generated/prisma/commonInputTypes.ts
  apps/api/generated/prisma/enums.ts
  apps/api/generated/prisma/internal/class.ts
  apps/api/generated/prisma/internal/prismaNamespace.ts
  apps/api/generated/prisma/internal/prismaNamespaceBrowser.ts
  apps/api/generated/prisma/models.ts
  apps/api/generated/prisma/models/User.ts
  apps/api/generated/prismabox/User.ts
  apps/api/generated/prismabox/__nullable__.ts
  apps/api/generated/prismabox/__transformDate__.ts
  apps/api/generated/prismabox/barrel.ts
  apps/api/lib/db.ts
  apps/api/lib/index.ts
  apps/api/package.json
  apps/api/prisma.config.ts
  apps/api/prisma/schema.prisma
  apps/api/prisma/seed.ts
Due: format, lint

refactor: remove unnecessary Prisma client generation and sync steps in deployment workflow
  .github/workflows/deploy-api.yml
Due: format

Fix(api): Resolve ModuleNotFound for thread-stream by updating Pino logger config
  apps/api/lib/logger.ts
Due: format, lint

chore(eslint-config): change 'react/no-array-index-key' rule from error to warn
  apps/scraper/src/blibli/blibli_controller.rs
  apps/scraper/src/blibli/blibli_repository.rs
  apps/scraper/src/blibli/blibli_service.rs
  apps/scraper/src/main.rs
  apps/scraper/src/tokopedia/tokopedia_repository.rs
  apps/scraper/src/tokopedia/tokopedia_service.rs
  apps/web/components/AnimatedCTA.tsx
  apps/web/components/AnimatedHero.tsx
  apps/web/components/AnimatedWorkflow.tsx
  apps/web/components/EnhancedFeatureCards.tsx
  apps/web/components/FloatingElements.tsx
  apps/web/components/PageTransition.tsx
  apps/web/components/ParticleBackground.tsx
  apps/web/hooks/useSmoothScroll.ts
  apps/web/lib/api/price-analysis.ts
  bun.lock
  packages/eslint-config/next.js
Due: format, lint

Fix(api): Move MinIO initialization to app start event with error handling
  apps/api/index.ts
Due: format, lint

fix(workflows): standardize workflow names by removing trailing spaces
  .github/workflows/deploy-api.yml
  .github/workflows/deploy-rust.yml
  .github/workflows/deploy-web.yml
Due: format

feat(scraper): enhance browser tab management and improve logging for page navigation
  apps/scraper/Dockerfile
  apps/scraper/src/blibli/blibli_repository.rs
  apps/scraper/src/browser.rs
  apps/scraper/src/tokopedia/tokopedia_repository.rs
Due: none

fix(product-description): update LONG_DESCRIPTION instruction to require a minimum of 300 words
  apps/api/product-description/product_description_ai_helper.ts
Due: format, lint

fix(product-description): update LONG_DESCRIPTION instruction to require a minimum of 301 words
  apps/api/product-description/product_description_ai_helper.ts
Due: format, lint

feat(product-description): enhance long description generation with detailed prompts and parallel processing
  apps/api/product-description/product_description_ai_helper.ts
  apps/api/product-description/product_description_service.ts
Due: format, lint

feat(marketing-service): enhance content generation with parallel processing for long-form platforms
  apps/api/marketing/marketing_ai_helper.ts
  apps/api/marketing/marketing_service.ts
Due: format, lint

feat(marketing-service): add fallback content for Instagram in getFallbackMarketingContent function
  apps/api/marketing/marketing_ai_helper.ts
Due: format, lint

fix(ParticleBackground): simplify null checks for particle connections
  apps/web/components/ParticleBackground.tsx
Due: format, lint
