Repository Sekte-King-Jawir/King-Jawir: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: bun run format {staged_files} && git add {staged_files}
  stage_fixed: true

lint:
  run: bun run lint

chore: simplify dev and start scripts by removing environment variable fallback
  apps/web/package.json
Due: format

chore: remove cleanup-deps.js script for unused dependency management
  cleanup-deps.js
Due: format, lint

chore: remove cleanup-deps.js from cache in code quality workflow
  .github/workflows/code-quality.yml
Due: format

refactor: remove legacy API integration tests and implement TypeBox validation for profile routes
  apps/api/auth/login/index.ts
  apps/api/auth/register/index.ts
  apps/api/cart/index.ts
  apps/api/category/index.ts
  apps/api/lib/validators.ts
  apps/api/product/index.ts
  apps/api/profile/index.ts
  apps/api/profile/profile_service.ts
  apps/api/review/index.ts
  apps/api/store/index.ts
  apps/api/test/api-test.ts
  apps/api/test/profile/profile.test.ts
Due: format, lint

docs: update README to include product scraping features and endpoints
  .vscode/settings.json
  apps/api/README.md
Due: format

refactor: improve database URL parsing and enhance test assertions for scraping services
  apps/api/lib/db.ts
  apps/api/test/profile/profile.test.ts
  apps/api/test/scrape/scrape.test.ts
  apps/api/test/scrape/scrape_controller.test.ts
Due: format, lint

chore: add dbrun.ps1 to .gitignore
  .gitignore
Due: none

a
  apps/api/lib/db.ts
Due: format, lint

style: format eslint.validate array for consistency
  .vscode/settings.json
Due: format

feat: add MariaDB connection pool support and update dependencies
  apps/api/lib/db.ts
  apps/api/package.json
  bun.lock
Due: format, lint

feat: update database connection handling and add migration seeding
  apps/api/lib/db.ts
  apps/api/prisma.config.ts
  apps/api/test/profile/profile.test.ts
Due: format, lint

Remove Lefthook configuration and related scripts from package.json
  apps/api/package.json
  bun.lock
  lefthook.yml
  package.json
Due: format

refactor: update cookie access and environment variable usage across authentication routes
  apps/api/admin/admin_controller.ts
  apps/api/auth/change-password/index.ts
  apps/api/auth/forgot-password/forgot_password_service.ts
  apps/api/auth/google/google_service.ts
  apps/api/auth/google/index.ts
  apps/api/auth/login/index.ts
  apps/api/auth/logout/index.ts
  apps/api/auth/me/index.ts
  apps/api/auth/refresh/index.ts
  apps/api/auth/register/register_service.ts
  apps/api/auth/resend-verification/resend_verification_service.ts
  apps/api/auth/shared/user_repository.ts
  apps/api/category/index.ts
  apps/api/index.ts
  apps/api/lib/ai.ts
  apps/api/lib/auth-helper.ts
  apps/api/lib/auth-middleware.ts
  apps/api/lib/mail.ts
  apps/api/lib/response.ts
  apps/api/product/index.ts
  apps/api/product/product_repository.ts
  apps/api/product/product_service.ts
  apps/api/profile/profile_service.ts
  apps/api/review/review_controller.ts
  apps/api/review/review_service.ts
  apps/api/scrape/scrape_controller.ts
  apps/api/scrape/scrape_service.ts
  apps/api/scrape/shopee/shopee_scraper.ts
  apps/api/scrape/tokopedia/tokopedia_scraper.ts
  apps/api/store/index.ts
  apps/api/store/store_controller.ts
  apps/api/store/store_service.ts
  apps/api/test/admin/admin.test.ts
  apps/api/test/cart/cart.test.ts
  apps/api/test/category/category.test.ts
  apps/api/test/product/product.test.ts
  apps/api/test/profile/profile.test.ts
  apps/api/test/scrape/scrape.test.ts
  apps/api/tsconfig.json
Due: format, lint

feat: migrate from Puppeteer to Playwright for Shopee and Tokopedia scrapers refactor: remove Puppeteer dependency from knip.json
  apps/api/scrape/shopee/shopee_scraper.ts
  apps/api/scrape/tokopedia/tokopedia_scraper.ts
  knip.json
Due: format, lint

a
  apps/api/scrape/shopee/shopee_scraper.ts
  apps/api/scrape/tokopedia/tokopedia_scraper.ts
  lefthook.yml
Due: format, lint

refactor: remove scraping controller and service for Shopee and Tokopedia
  apps/api/README.md
  apps/api/index.ts
  apps/api/scrape/index.ts
  apps/api/scrape/scrape_controller.ts
  apps/api/scrape/scrape_service.ts
  apps/api/scrape/shopee/shopee_scraper.ts
  apps/api/scrape/tokopedia/tokopedia_scraper.ts
  apps/api/test/scrape/scrape.test.ts
  apps/api/test/scrape/scrape_controller.test.ts
Due: format, lint

feat(scraper): implement initial scraper for Tokopedia with Axum API
  apps/scraper/.gitignore
  apps/scraper/Cargo.lock
  apps/scraper/Cargo.toml
  apps/scraper/src/main.rs
Due: none

feat(scraper): implement scraper functionality for Tokopedia with structured modules and services
  apps/scraper/src/browser.rs
  apps/scraper/src/config.rs
  apps/scraper/src/main.rs
  apps/scraper/src/mod.rs
  apps/scraper/src/scraper/mod.rs
  apps/scraper/src/scraper/scraper_controller.rs
  apps/scraper/src/scraper/scraper_dto.rs
  apps/scraper/src/scraper/scraper_model.rs
  apps/scraper/src/scraper/scraper_repository.rs
  apps/scraper/src/scraper/scraper_service.rs
Due: none

fix: update type definitions from @types/node to @types/bun in package.json and bun.lock
  apps/web/package.json
  bun.lock
Due: format

feat(deployment): add GitHub Actions workflow for automated Rust deployment to VPS
  .github/workflows/deploy-rust.yml
  apps/scraper/README.md
  apps/scraper/ecosystem.config.cjs
Due: format

feat(scraper): refactor scraper to use dedicated Tokopedia module and update API endpoints
  apps/scraper/README.md
  apps/scraper/src/main.rs
  apps/scraper/src/scraper/mod.rs
  apps/scraper/src/tokopedia/mod.rs
  apps/scraper/src/tokopedia/tokopedia_controller.rs
  apps/scraper/src/tokopedia/tokopedia_dto.rs
  apps/scraper/src/tokopedia/tokopedia_model.rs
  apps/scraper/src/tokopedia/tokopedia_repository.rs
  apps/scraper/src/tokopedia/tokopedia_service.rs
Due: format

feat(scraper): enhance scraping logic with improved loading and parsing strategies
  apps/scraper/src/tokopedia/tokopedia_repository.rs
  apps/scraper/src/tokopedia/tokopedia_service.rs
Due: none

fix(config): update SERVER_PORT to 4104 for consistency
  apps/scraper/src/config.rs
Due: none

a
  apps/scraper/src/config.rs
Due: none

feat(auth): add authentication pages and styles for login and registration
  apps/api/index.ts
  apps/api/package.json
  apps/web/app/(auth)/auth.module.css
  apps/web/app/(auth)/layout.tsx
  apps/web/app/(auth)/login/page.tsx
  apps/web/app/(auth)/register/page.tsx
  bun.lock
Due: format, lint

feat(api): enhance Tokopedia scraper API with OpenAPI documentation and response schemas
  apps/scraper/Cargo.lock
  apps/scraper/Cargo.toml
  apps/scraper/src/main.rs
  apps/scraper/src/tokopedia/tokopedia_controller.rs
  apps/scraper/src/tokopedia/tokopedia_dto.rs
  apps/scraper/src/tokopedia/tokopedia_model.rs
Due: none

fix(scraper): optimize loading times by reducing sleep durations in Tokopedia scraping logic
  apps/scraper/src/tokopedia/tokopedia_repository.rs
Due: none

fix(cors): update WEB_URL access method for consistency
  apps/api/index.ts
Due: format, lint

feat(scraper): update browser launch options for headless mode and improve image handling
  apps/scraper/src/browser.rs
  apps/scraper/src/config.rs
  apps/scraper/src/main.rs
  apps/scraper/src/tokopedia/tokopedia_repository.rs
Due: none

refactor(scraper): remove unused dependencies and CSS selectors from configuration
  apps/scraper/Cargo.lock
  apps/scraper/Cargo.toml
  apps/scraper/src/config.rs
Due: none

refactor: simplify string formatting for user agent and logging messages
  apps/scraper/src/browser.rs
  apps/scraper/src/main.rs
  apps/scraper/src/tokopedia/tokopedia_controller.rs
  apps/scraper/src/tokopedia/tokopedia_repository.rs
  apps/scraper/src/tokopedia/tokopedia_service.rs
Due: none

Refactor authentication pages and components
  apps/api/auth/register/register_service.ts
  apps/api/auth/resend-verification/resend_verification_service.ts
  apps/web/app/(auth)/_components/InvalidToken.tsx
  apps/web/app/(auth)/_shared/api.ts
  apps/web/app/(auth)/_shared/logout.ts
  apps/web/app/(auth)/_shared/types.ts
  apps/web/app/(auth)/forgot-password/ForgotPasswordForm.tsx
  apps/web/app/(auth)/forgot-password/action.ts
  apps/web/app/(auth)/forgot-password/page.tsx
  apps/web/app/(auth)/login/LoginForm.tsx
  apps/web/app/(auth)/login/action.ts
  apps/web/app/(auth)/login/page.tsx
  apps/web/app/(auth)/register/RegisterForm.tsx
  apps/web/app/(auth)/register/action.ts
  apps/web/app/(auth)/register/page.tsx
  apps/web/app/(auth)/resend-verification/ResendVerificationForm.tsx
  apps/web/app/(auth)/resend-verification/action.ts
  apps/web/app/(auth)/resend-verification/page.tsx
  apps/web/app/(auth)/reset-password/ResetPasswordForm.tsx
  apps/web/app/(auth)/reset-password/action.ts
  apps/web/app/(auth)/reset-password/page.tsx
  apps/web/app/(auth)/verify-email/action.ts
  apps/web/app/(auth)/verify-email/page.tsx
Due: format, lint

feat(api): implement price analysis endpoint with AI integration
  apps/api/index.ts
  apps/api/lib/ai.ts
  apps/api/package.json
  apps/api/price-analysis/index.ts
  apps/api/price-analysis/price_analysis_controller.ts
  apps/api/price-analysis/price_analysis_repository.ts
  apps/api/price-analysis/price_analysis_service.ts
  apps/scraper/Cargo.lock
  apps/scraper/Cargo.toml
  apps/scraper/src/main.rs
  apps/scraper/src/tokopedia/tokopedia_controller.rs
  apps/scraper/src/tokopedia/tokopedia_service.rs
  apps/web/app/support/page.tsx
  apps/web/app/support/support.module.css
  bun.lock
Due: format, lint

feat(api): add request logging and enhance CORS configuration
  apps/api/index.ts
  apps/scraper/src/tokopedia/tokopedia_repository.rs
Due: format, lint

feat(auth): implement reset password functionality with validation and error handling
  apps/web/app/(auth)/reset-password/page.tsx
  apps/web/app/auth/reset-password/page.tsx
  apps/web/app/auth/verify-email/page.tsx
Due: format, lint

feat(ui): implement dark mode toggle and enhance styling for improved user experience
  apps/web/app/support/page.tsx
  apps/web/app/support/support.module.css
  apps/web/next.config.js
Due: format, lint

feat(ui): enhance loading experience with progress indicators and animations
  apps/web/app/support/page.tsx
  apps/web/app/support/support.module.css
Due: format, lint

feat(api): implement WebSocket streaming for real-time price analysis updates
  apps/api/index.ts
  apps/api/package.json
  apps/api/price-analysis/price_analysis_service.ts
  apps/web/app/support/page.tsx
Due: format, lint

feat(api): add WebSocket support for real-time price analysis streaming
  apps/api/index.ts
  apps/api/price-analysis/index.ts
  apps/api/price-analysis/websocket.ts
Due: format, lint

feat(auth): implement authentication features including login, registration, password reset, and email verification
  apps/api/auth/google/index.ts
  apps/web/app/(auth)/reset-password/page.tsx
  apps/web/app/(auth)/verify-email/page.tsx
  apps/web/app/auth/_components/InvalidToken.tsx
  apps/web/app/auth/_shared/api.ts
  apps/web/app/auth/_shared/logout.ts
  apps/web/app/auth/_shared/types.ts
  apps/web/app/auth/auth.module.css
  apps/web/app/auth/forgot-password/ForgotPasswordForm.tsx
  apps/web/app/auth/forgot-password/action.ts
  apps/web/app/auth/forgot-password/page.tsx
  apps/web/app/auth/layout.tsx
  apps/web/app/auth/login/LoginForm.tsx
  apps/web/app/auth/login/action.ts
  apps/web/app/auth/login/page.tsx
  apps/web/app/auth/register/RegisterForm.tsx
  apps/web/app/auth/register/action.ts
  apps/web/app/auth/register/page.tsx
  apps/web/app/auth/resend-verification/ResendVerificationForm.tsx
  apps/web/app/auth/resend-verification/action.ts
  apps/web/app/auth/resend-verification/page.tsx
  apps/web/app/auth/reset-password/ResetPasswordForm.tsx
  apps/web/app/auth/reset-password/action.ts
  apps/web/app/auth/reset-password/page.tsx
  apps/web/app/auth/verify-email/action.ts
  apps/web/app/auth/verify-email/page.tsx
Due: format, lint

Path conditions:
  format: any of: *.{ts,tsx,js,jsx,json,md,yml,yaml}
  lint: any of: *.{ts,tsx,js,jsx}
