Repository Sekte-King-Jawir/King-Jawir: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: bun run format {staged_files} && git add {staged_files}
  stage_fixed: true

lint:
  run: bun run lint

feat: add seller product routes and improve store data handling in hooks
  apps/api/seller/index.ts
  apps/api/seller/products/index.ts
  apps/web/app/seller/products/page.tsx
  apps/web/app/seller/store/page.tsx
  apps/web/hooks/useSeller.ts
  apps/web/hooks/useSellerAuth.ts
Due: format, lint

feat(api): add MinIO configuration and file management functions
  apps/api/.env.example
  apps/api/index.ts
  apps/api/lib/minio.ts
  apps/api/package.json
  apps/api/profile/index.ts
  apps/api/seller/ai/ai_description_service.ts
  apps/api/seller/products/index.ts
  apps/api/seller/products/product_service.ts
  apps/api/seller/store/index.ts
  apps/web/hooks/useSellerDashboard.ts
  bun.lock
Due: format, lint

feat: add formatting and AI helper utilities for price analysis
  apps/api/lib/format.ts
  apps/api/lib/index.ts
  apps/api/price-analysis/price_analysis_ai_helper.ts
  apps/api/price-analysis/price_analysis_service.ts
Due: format, lint

feat: implement price formatting utilities for consistent display
  apps/web/app/price-analysis/page.tsx
  apps/web/lib/format.ts
Due: format, lint

feat: enhance API response utilities with detailed documentation and error codes
  apps/api/index.ts
  apps/api/lib/ai.ts
  apps/api/lib/db.ts
  apps/api/lib/format.ts
  apps/api/lib/index.ts
  apps/api/lib/logger.ts
  apps/api/lib/minio.ts
  apps/api/lib/response.ts
  apps/api/lib/validators.ts
  apps/api/price-analysis/price_analysis_ai_helper.ts
  apps/api/price-analysis/price_analysis_repository.ts
  apps/api/price-analysis/price_analysis_service.ts
  apps/api/price-analysis/websocket.ts
  apps/api/prisma/seed.ts
  apps/web/app/page.tsx
  apps/web/hooks/index.ts
  apps/web/hooks/usePriceAnalysis.ts
  apps/web/lib/api/client.ts
  apps/web/lib/api/index.ts
  apps/web/lib/api/price-analysis.ts
  apps/web/lib/config/api.ts
  apps/web/lib/config/index.ts
  apps/web/lib/format.ts
  apps/web/lib/utils.ts
  apps/web/types/index.ts
Due: format, lint

refactor: update copilot instructions for clarity and structure
  .github/copilot-instructions.md
Due: format

fix: remove filter from dev script for consistent development environment
  package.json
Due: format

refactor: enhance parseEndpoint function and adjust Minio client configuration for better SSL handling
  apps/api/lib/minio.ts
Due: format, lint

refactor: improve page load handling and dynamic scrolling logic in Tokopedia repository
  apps/scraper/src/config.rs
  apps/scraper/src/tokopedia/tokopedia_repository.rs
Due: none

feat: implement product description generation feature with AI integration
  King-Jawir/apps/api/package.json (edit
  apps/api/index.ts
  apps/api/product-description/index.ts
  apps/api/product-description/product_description_ai_helper.ts
  apps/api/product-description/product_description_controller.ts
  apps/api/product-description/product_description_repository.ts
  apps/api/product-description/product_description_service.ts
  apps/api/test/product_description.test.ts
Due: format, lint

refactor: update price analysis interfaces for improved data handling and optional fields
  apps/web/app/price-analysis/page.tsx
  apps/web/lib/api/price-analysis.ts
Due: format, lint

feat: add marketing content generation feature with AI integration and validation
  apps/api/index.ts
  apps/api/marketing/index.ts
  apps/api/marketing/marketing_ai_helper.ts
  apps/api/marketing/marketing_controller.ts
  apps/api/marketing/marketing_repository.ts
  apps/api/marketing/marketing_service.ts
  apps/api/test/marketing.test.ts
Due: format, lint

feat: add Blibli product scraping functionality and update README for multi-platform support
  apps/scraper/README.md
  apps/scraper/src/blibli/blibli_controller.rs
  apps/scraper/src/blibli/blibli_dto.rs
  apps/scraper/src/blibli/blibli_model.rs
  apps/scraper/src/blibli/blibli_repository.rs
  apps/scraper/src/blibli/blibli_service.rs
  apps/scraper/src/blibli/mod.rs
  apps/scraper/src/main.rs
  apps/scraper/src/mod.rs
  apps/scraper/src/tokopedia/tokopedia_repository.rs
Due: format

feat: enhance price analysis by integrating Blibli product scraping and unifying product data sources
  apps/api/price-analysis/price_analysis_ai_helper.ts
  apps/api/price-analysis/price_analysis_repository.ts
  apps/api/price-analysis/price_analysis_service.ts
Due: format, lint

feat: implement AI-powered product description generation feature with UI components and hooks
  apps/web/app/page.tsx
  apps/web/app/product-description/page.tsx
  apps/web/hooks/index.ts
  apps/web/hooks/useProductDescription.ts
  apps/web/lib/api/index.ts
  apps/web/lib/api/product-description.ts
  apps/web/lib/config/api.ts
  apps/web/types/product-description.ts
  packages/ui/src/index.ts
  packages/ui/src/layout/Navbar.tsx
  packages/ui/src/product-description-form.tsx
  packages/ui/src/product-description-result.tsx
Due: format, lint

feat: implement precise price extraction from Blibli product cards with discount handling
  apps/scraper/src/blibli/blibli_repository.rs
Due: none

feat: enhance price analysis to support multiple marketplaces and unify product data structure
  apps/web/app/price-analysis/page.tsx
  apps/web/lib/api/price-analysis.ts
Due: format, lint

feat: add marketing content generation feature with custom hooks, API services, and UI components
  apps/web/hooks/index.ts
  apps/web/hooks/useMarketing.ts
  apps/web/lib/api/index.ts
  apps/web/lib/api/marketing.ts
  apps/web/lib/config/api.ts
  apps/web/types/marketing.ts
  packages/ui/src/index.ts
  packages/ui/src/layout/Navbar.tsx
  packages/ui/src/marketing-form.tsx
  packages/ui/src/marketing-result.tsx
Due: format, lint

feat: add marketing content generation functionality with UI components and hooks
  apps/web/app/product-description/page.tsx
Due: format, lint

feat: update product description page and navbar for marketing content integration
  apps/web/app/product-description/page.tsx
  packages/ui/src/layout/Navbar.tsx
Due: format, lint

feat: enhance null checks and error handling across various components and hooks
  .cspell.json
  apps/web/app/price-analysis/page.tsx
  apps/web/app/product-description/page.tsx
  apps/web/components/NavbarWrapper.tsx
  apps/web/hooks/useMarketing.ts
  apps/web/hooks/usePriceAnalysis.ts
  apps/web/hooks/useProductDescription.ts
  apps/web/lib/api/price-analysis.ts
  apps/web/lib/config/api.ts
  apps/web/lib/utils.ts
  apps/web/tsconfig.json
  packages/ui/src/marketing-form.tsx
Due: format, lint

Resolve merge conflicts and fix syntax errors
  apps/web/app/product-description/page.tsx
  apps/web/hooks/useMarketing.ts
Due: format, lint

chore: remove unused package.json file from API directory
  King-Jawir/apps/api/package.json (edit
Due: none

chore: update dependencies and package manager versions
  apps/api/generated/prisma/client.ts
  apps/api/generated/prisma/internal/class.ts
  apps/api/generated/prisma/internal/prismaNamespace.ts
  apps/api/package.json
  apps/web/app/product-description/page.tsx
  apps/web/package.json
  bun.lock
  package.json
  packages/ui/package.json
Due: format, lint

feat: add framer-motion and gsap for animations; implement hydration fixes
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/components/AnimatedCTA.tsx
  apps/web/components/AnimatedHero.tsx
  apps/web/components/AnimatedWorkflow.tsx
  apps/web/components/EnhancedFeatureCards.tsx
  apps/web/components/FloatingElements.tsx
  apps/web/components/PageTransition.tsx
  apps/web/components/ParticleBackground.tsx
  apps/web/hooks/useSmoothScroll.ts
  apps/web/package.json
  bun.lock
Due: format, lint

feat: enhance UI components with improved color schemes and floating elements
  apps/web/app/product-description/page.tsx
  packages/ui/src/badge.tsx
  packages/ui/src/button.tsx
  packages/ui/src/card.tsx
Due: format, lint

feat: enhance UI components with dark mode support and improved styling
  apps/scraper/src/browser.rs
  apps/web/app/price-analysis/page.tsx
  packages/ui/src/alert.tsx
  packages/ui/src/badge.tsx
  packages/ui/src/button.tsx
  packages/ui/src/card.tsx
  packages/ui/src/empty-state.tsx
  packages/ui/src/loading-spinner.tsx
  packages/ui/src/marketing-form.tsx
  packages/ui/src/marketing-result.tsx
  packages/ui/src/modal.tsx
  packages/ui/src/product-description-form.tsx
  packages/ui/src/product-description-result.tsx
Due: format, lint

docs: update README with environment setup for production API URL
  apps/web/README.md
Due: format

feat: update WebSocket URLs for production and development environments
  .github/copilot-instructions.md
  apps/api/README.md
  apps/web/lib/api/price-analysis.ts
  apps/web/lib/config/api.ts
Due: format, lint

Refactor code structure for improved readability and maintainability
  apps/web/app/favicon.ico
  apps/web/app/page.tsx
  apps/web/app/product-description/page.tsx
  apps/web/public/iconkjg.png
  packages/ui/src/layout/Navbar.tsx
Due: format, lint

style: enhance UI components with improved styling and accessibility features
  apps/web/app/product-description/page.tsx
  packages/ui/src/marketing-form.tsx
  packages/ui/src/product-description-form.tsx
Due: format, lint

refactor: remove empty state component and adjust footer margin
  apps/web/app/product-description/page.tsx
Due: format, lint

translate: update price analysis page to Indonesian language
  apps/web/app/price-analysis/page.tsx
Due: format, lint

fix: correct manual trigger comments in deployment workflows
  .github/workflows/deploy-api.yml
  .github/workflows/deploy-rust.yml
  .github/workflows/deploy-web.yml
Due: format

fix: update array creation method for floating elements in price analysis page
  apps/web/app/price-analysis/page.tsx
Due: format, lint

feat: update docker-compose and add nginx and scraper services with configurations
  apps/nginx/Dockerfile
  apps/nginx/nginx.conf
  apps/scraper/Dockerfile
  docker-compose.yml
Due: format

chore: remove outdated README files and update Dockerfile for scraper service
  .github/workflows/docker-build.yml
  README.md
  apps/api/README.md
  apps/scraper/Dockerfile
  apps/web/README.md
  docker-compose.yml
Due: format

feat: enable manual triggering of Docker build workflow
  .github/workflows/docker-build.yml
Due: format

a
  .github/workflows/docker-build.yml
Due: format

Path conditions:
  format: any of: *.{ts,tsx,js,jsx,json,md,yml,yaml}
  lint: any of: *.{ts,tsx,js,jsx}
